{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true,
  },
  "parserOptions": {
    "sourceType": "script",
  },
  "rules": {
    "indent": [2, "tab"],
    "semi": [2, "never"],
    "strict": [2, "global"],
    "one-var-declaration-per-line": [2, "initializations"],
    "one-var": [2, {"uninitialized": "always", "initialized": "never" }],
    "max-len": [1, 130],
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-unused-expressions": ["error", {"allowShortCircuit": true}],
    "no-undefined": 2,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "no-cond-assign": 0,
    "camelcase": 0,
    "no-console": 0,
    "no-else-return": 0,
    "prefer-template": 0,
    "no-invalid-this": 0,
    "object-curly-spacing": ["error", "never"]
    }
}
